<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StatFlow</title>
    <link rel="icon" href="ICON.png" />
    <!-- <link rel="stylesheet" href="styles.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header>
      <a href="/">
        <!-- <img src="LOGO.png" alt="StatFlow" /> -->
        <img src="{{ url_for('static', filename='images/LOGO.png') }}" alt="Your Image">
      
      </a>
      <div class="lr">
        <a href="about.html">ABOUT</a>
        <a href="team.html">TEAM</a>
      </div>
      <div class="lf">
        <button>TRY NOW</button>
        <a>EN</a>
      </div>
    </header>
    <main>
      <h2 class="team-heading">MEET OUR TEAM</h2>
      <div class="fs">
        <div class="team-member">
          <!-- <img src="Prakhar.jpg" /> -->
          <img src="{{ url_for('static', filename='images/Prakhar.jpg') }}" alt="Your Image">
          <p>
            <b>Prakhar K. Srivastava</b>
            <br />
            <br />
            [Front-End Development]
          </p>
        </div>
        <div class="team-member">
          <!-- <img src="dakshi.jpg" /> -->
          <img src="{{ url_for('static', filename='images/Dakshi.jpg') }}" alt="Your Image">
          <p>
            <b>Dakshi Arora</b>
            <br />
            <br />
            [Data Processing & Analysis]
          </p>
        </div>
        <div class="team-member">
          <!-- <img src="shradha.jpg" /> -->
          <img src="{{ url_for('static', filename='images/shradha.jpg') }}" alt="Your Image">
          <p>
            <b>Shradha Aggarwal</b>
            <br />
            <br />
            [Data Processing & Analysis]
          </p>
        </div>
        <div class="team-member">
          <!-- <img src="phani.png" /> -->
          <img src="{{ url_for('static', filename='images/phani.png') }}" alt="Your Image">
          <p>
            <b>Phani Harshith</b>
            <br />
            <br />
            [Flask Development]
          </p>
        </div>
      </div>
      <hr />
      <hr />
      <hr />
    </main>
  </body>
</html>
